.about {
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.about h1 {
    font-size: 2.5rem;
}

.about p {
    text-align: center;
    width: 55%;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 4rem 2rem;
    }
    .about p {
      font-size: 0.9rem;
      width: 90%;
    }
  }