.footer {
  background-color: var(--footerBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0;
  width: 100%;
}

.footer-name {
  width: 90%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #fff;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.footer-name>span {
    background:var(--footerBg); 
    padding:0 10px; 
}
