.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 6rem;
    text-align: center;
}


.skills-content {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
}

.skill-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 20%;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.skill-section:hover {
    box-shadow: var(--shadow);
}

.skill-section img {
    width: 8rem;
    align-self: center;
}

.skill-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.skill-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .skills-content {
      flex-direction: column;
      align-items: center;
    }
    .skill-section {
        width: 80%;
    }
  }