:root {
  --primaryColor: #2351DC;
  --lightPrimary: #D3DCF8;
  --secondaryColor: #F6F8FE;
}

.App {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
